---
layout: site
permalink: auckland

location: Auckland

dates: 7 February - 9 February, 2017

splashImage: /img/auckland.jpg

map: sites/auckland.geojson

about: Following the success of the past two years Auckland is again hosting ResBaz in 2017!</br></br>The Research Bazaar is a (free-of-charge) 3-day intensive festival and conference where researchers come together to up-skill in next generation digital research tools and scholarship. In the spirit of a marketplace or bazaar, ResBaz is a highly participatory event where researchers from many different disciplines can learn, share knowledge and skills, and have fun!</br></br>Who should attend? Researchers at ALL levels from ALL disciplines. PhD and research Masters students are especially encouraged to apply. Research technologists who support researchers to do their job should also come along!</br></br>ResBaz is particularly aimed at those new to digital research tools.

schedule: Each day at ResBaz will be roughly split into morning and afternoon events. Following a Key Story from one of our exciting speakers, the mornings will consists of <a href='https://software-carpentry.org/'>Software Carpentry</a> lessons (Unix Shell, Python or R, Git) for all participants. You can choose your flavour - Software Carpentry with Python or R. Following a scrumptious lunch, afternoon sessions will be a mix of different concurrent elective workshops, fun activities, and discussions.</br></br>Come prepared to get involved and find your research tribe.<br><br>Below is a rough schedule, which may change as we approach the event. There will be many other fantastic topics and sessions too, ResBaz is not limited to only these.</br></br>Click on the sessions for details.
days:
 - day: Tuesday, 7 February 
   sessions:
    - title: Key Story
    - title: Software Carpentry Unix Shell
    - title: Services Marketplace
    - title: Key Story 
    - title: Agile Project Management
    - title: Introduction to LaTeX
    - title: Social Media for Researchers
    - title: Cybersecurity and Data Hygiene 
    - title: Huis, Games, and Activities   
 - day: Wednesday, 8 February
   sessions:
    - title: Key Story 
    - title: Software Carpentry Python or R
    - title: Research Carnival
    - title: Key Story 
    - title: Research Data Management 
    - title: R Web Applications with Shiny
    - title: End to End Data Visualisation on the Web
    - title: Science Communication
    - title: Prestigious or Predatory > Identifying Quality Publishers
    - title: Huis, Games, and Activities
 - day: Thursday, 9 February
   sessions:
    - title: Key Story 
    - title: Software Carpentry Git
    - title: Copyright and Licensing
    - title: High Performance Computing
    - title: Bioinformatics > Introduction to RNAseq
    - title: Bioinformatics > Introduction to Metagenomics
    - title: Safe Coding
    - title: Huis, Games, and Activities 

speakers:
 - name:
   img: img/placehold.jpg
   blurb:
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - maybe it could be you! Watch this space.
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - maybe it could be you! Watch this space.
sponsors:
 - name: 'UoA Centre for eResearch'
   img: fake-sponsor.png
   link: http://www.eresearch.auckland.ac.nz/en/centre-for-eresearch.html
 - name: 'UoA Faculty of Science'
   img: fake-sponsor.png
   link: '#'
 - name: 'UoA Deputy-Vice Chancellor (Research)'
   img: fake-sponsor.png
   link: "#"

---


<!-- Session Info/Blurb -->
<div class="modal" id="modal-software-carpentry-unix-shell" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">The Unix Shell</h4>
      </div>
      <div class="modal-body">
        <p>The Unix shell has been around longer than most of its users have been alive. It has survived so long because it’s a power tool that allows people to do complex things with just a few keystrokes. More importantly, it helps them combine existing programs in new ways and automate repetitive tasks so they aren’t typing the same things over and over again. Use of the shell is fundamental to using a wide range of other powerful tools and computing resources (including “high-performance computing” supercomputers). These lessons will start you on a path towards using these resources effectively.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-key-story" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Key Stories</h4>
      </div>
      <div class="modal-body">
        <p>Each day will feature short, entertaining, and inspiring talks from one of our fabulous speakers. You won't want to miss these!</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-services-marketplace" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Services Marketplace</h4>
      </div>
      <div class="modal-body">
        <p>Find out what services and support are available to throughout the research lifecycle. Talk to representatives from NeSI, Library and Learning Services, ITS, Centre for eResearch and the Research Office. Learn about ORCID, doctoral skills programme, data publishing, open access, high performance computing, virtual machines, data visualisation, funding opportunities and more. You name it, we can help.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-agile-project-management" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Agile Project Management</h4>
      </div>
      <div class="modal-body">
        <p>This workshop will introduce some commonly used processes for project management in an agile manner. Having a basic understanding of project management will allow you to manage your own projects better and also work more effectively as part of a team.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-introduction-to-latex" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Introduction to LaTeX</h4>
      </div>
      <div class="modal-body">
        <p>LaTeX is a document preparation system based on the TeX markup language. It enables high-quality typesetting of complex mathematical formulas, multi-lingual symbols, creation of graphics and wider flexibility in editing large portions of text. This workshop will introduce you to LaTeX at an elementary level, including key functionalities, templates, basic coding, style files, inserting citations and applying referencing styles.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-social-media-for-researchers" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Social Media for Researchers</h4>
      </div>
      <div class="modal-body">
        <p>Learn about using multiple social media platforms to communicate your research, drive impact and develop your online researcher identity. Listen, share and practice in this community of your peers, BYOD with a Twitter account ready to Tweet.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-cybersecurity-and-data-hygiene" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Cybersecurity and Data Hygiene</h4>
      </div>
      <div class="modal-body">
        <p>Learn about what the University experiences in terms of attacks and cybersecurity, and about good practice for keeping your sensitive data secure.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-huis-games-and-activities" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Huis, Games, and Activities</h4>
      </div>
      <div class="modal-body">
        <p>Throughout the afternoon there will be opportunities to meet up and discuss topics of your choosing, as well as games and fun activities to keep you energised and bring folks together.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-software-carpentry-python-or-r" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Python and R</h4>
      </div>
      <div class="modal-body">
        <p><h4>Python</h4></br>Python is a powerful, general purpose programming language that has several popular scientific libraries that make it ideal for research. This workshop will equip you with the essential skills you need to use the Python programming language. No prior coding knowledge is required.</br></br><h4>R</h4></br>R is a programming language and software environment for statistical computing and graphics. This workshop will provide an introduction to R Studio and using R to analyse your data. No prior coding knowledge is required.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-research-carnival" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Research Carnival</h4>
      </div>
      <div class="modal-body">
        <p>Drones, robots, 3D imaging, augmented reality, International Poi and much more… a true Research Bazaar. A fun social session where you can explore and be inspired by a diverse range of approaches and technologies that people are using in their research. Get up close and see what awesome research is happening and how it’s done.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-research-data-management" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Fresh-up your Data Management</h4>
      </div>
      <div class="modal-body">
        <p>This workshop will introduce data management concepts and discuss best practices, services, and useful tools to support you managing and sharing your research data. It will help you:</br><ul><li>Develop a strategy and personal Data Management Plan to efficiently capture and organise your research data</li><li>Select, access, and utilise research data services available at the University of Auckland</li><li>Understand legal and ethical issues around research data so that you can apply them in your work</li><li>Know your options for publishing, sharing, and reusing data for your research</li><ul></p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-r-web-applications-with-shiny" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">R Shiny</h4>
      </div>
      <div class="modal-body">
        <p>Shiny is an open source R package that provides an elegant and powerful web framework for building web applications using R. Shiny helps you turn your analyses into interactive web applications without requiring HTML, CSS, or JavaScript knowledge. This workshop will introduce how to get started using Shiny. Some knowledge of programming in R is required.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-end-to-end-data-visualisation-on-the-web" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Data Vis on the Web</h4>
      </div>
      <div class="modal-body">
        <p>This workshop will step you through the whole process from data to web visualisation using exemplars from ITS dashboards.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-science-communication" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Science Communication</h4>
      </div>
      <div class="modal-body">
        <p>A practical, interactive, and hands on workshop aimed to develop your skills in science communication.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-software-carpentry-git" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Git</h4>
      </div>
      <div class="modal-body">
        <p>Version control is the lab notebook of the digital world - it’s what professionals use to keep track of what they’ve done and to collaborate with other people. Keeping a record of what was changed, when, and why is extremely useful for all researchers if they ever need to come back to the project later on. Git is a free and open source distributed version control system designed to handle everything from small to very large projects with speed and efficiency. This workshop will teach you the basics so you can get started using Git.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-copyright-and-licensing" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Copyright and Licensing</h4>
      </div>
      <div class="modal-body">
        <p>Everything you need to know about licences and research objects. Find out what you should know about copyright before you publish your work, and how to maintain rights over your work. Learn how to hack a copyright contract in a hands on practical session.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-prestigious-or-predatory-identifying-quality-publishers" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Publishing</h4>
      </div>
      <div class="modal-body">
        <p>Learn how to recognise the prestigious from the predatory publishers with this overview of principles, tools and metrics supporting you to make informed decisions on where to publish.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-high-performance-computing" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">HPC</h4>
      </div>
      <div class="modal-body">
        <p>Learn about HPC, what it is, how it works, and how it can accelerate your research. Hear stories from current PhD students and researchers about how they got started using HPC in their research.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-bioinformatics-introduction-to-rnaseq" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Transcriptomics</h4>
      </div>
      <div class="modal-body">
        <p>Transcriptomics is a fast-moving area which continues to see developments in data analysis, experimental design, and sequencing technologies. In this workshop you will get an introduction to the design, analysis and visualisation of an RNA-seq experiment.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-bioinformatics-introduction-to-metagenomics" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Metagenomics</h4>
      </div>
      <div class="modal-body">
        <p>Metagenomics allows for rapid analysis of the species diversity present in populations. In this workshop you will get an overview of the tools and approaches used to conduct metagenomic analyses.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="modal-safe-coding" style="top: 33%">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Safe Coding</h4>
      </div>
      <div class="modal-body">
        <p>This workshop will introduce key concepts for secure coding practice. Learn about security best practice for developing applications either local or on the open web.</p>
      </div>
    </div>
  </div>
</div>

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-6'>
            <a href="https://2017.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz2017/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-6'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#aboutSection">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
                </li>
                <li class="page-scroll">
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdg3vMQKVtMGAFXPj8fBupPrS_idNt4f181T4z6LDDcpHqSeA/viewform">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <p></br></br></p>
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                    <p></br></br></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About -->
<section id='aboutSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1>About</h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.about}}</p>
            </div>
        </div>
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</br></br></p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %} 
                                <a class='list-group-item' id='{{session.title | slugify}}'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
                <div class="col-lg-12 text-center">
              <p>ResBaz Auckland 2017 will be held in and around the fabulous new UoA Science building.</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz2017/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Registration is not yet open. But stay tuned as planning progresses.</p>
                <!--
                <p></p>
                -->
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>


<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Get in touch if you would like to help bring the Research Bazaar to {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                     <!-- <h4>{{ sponsor.name }}</h4> -->
                      <a href={{ sponsor.link }}> <h4>{{ sponsor.name }}</h4> </a>
                  </div>
              {% endfor %}
          </div>
        </div>
        <hr class="star-primary">
        <p style="margin: auto; text-align: center;">Clock Tower title image CC-BY-NC <a href="https://www.flickr.com/photos/rohit_saxena">The.Rohit</a>
    </div>
</section>



<script>
    var listElements1 = document.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements1.length; i++){
            listElements1[i].onclick = function(){
                //now open modal with matching id
                $('#modal-'+this.id).modal('show')              
            }
        }
</script>

