---
layout: site
permalink: brisbane

location: Brisbane

dates: 7- 9 February, 2017

splashImage: img/resbaz_back.png

map: sites/brisbane.geojson

accommodation: Your accommodation text.

about: We are excited to announce the second Brisbane Research Bazaar, which will be hosted at The University of Queensland in February 2017. This will be a community- and skills-building event for researchers. <br \>We are kicking off with a big <b>Festival Day</b>, followed by two days of workshops. <br \><i>Who should attend?</i> Postgrads, postdocs, early career researchers - you are all welcome. <br \><i>Not a UQ student or staffer?</i> Come anyway! 

schedule: Our Schedule
days:
 - day: Tuesday, 7 February
   sessions:
    - title: Main Festival Day
    - title: Key Stories
    - title: Knowledge Bazaar
    - title: Poster Session
    - title: Hacky Hour - bring any research IT question
    - title: Bioinformatics Boulevard (GVL, QFAB)
    - title: Ecosciences Esplanade (BCCVL)
    - title: Ask a Data Scientist booth
    - title: Technology Tune-up
    - title: Rsk-Us (about R) 
    - title: Lots of fantastic stalls!
    - title: Competitions and prizes
 - day: Wednesday, 8 February
   sessions:
    - title: Software Carpentry - Python <a href="https://bio-swc-bne.github.io/2017-08-01-resbazp/">Book</a>
    - title: Software Carpentry - R <a href="https://bio-swc-bne.github.io/2017-08-01-resbazr/">Book</a>
    - title: RNA-Seq in Galaxy workshop (half day)<a href="https://www.eventbrite.com.au/e/resbaz-rna-seq-in-galaxy-workshop-tickets-31246086887">Book</a>
    - title: Amazon Web Services (full day) <a href="https://www.eventbrite.com.au/e/resbaz-amazon-web-service-workshop-tickets-31244810068">Book</a>
    - title: Ecosystems modelling (half day) <a href="https://www.eventbrite.com.au/e/resbaz-ecosystems-modelling-tickets-31244401847">Book</a>
    - title: CoESRA Desktop (TERN) (half day) <a href="https://www.eventbrite.com.au/e/resbaz-coesratern-workshop-tickets-31272865984">Book</a>
        - title: The 21st Century Academic - smart, savvy and social (half day) <a href="https://www.eventbrite.com.au/e/resbaz-workshop-the-21st-century-researcher-smart-savvy-and-social-tickets-31149025574">Book</a>
 - day: Thursday, 9 February
   sessions:
    - title: Software Carpentry - R (part 2)
    - title: Software Carpentry - Python (part 2)
    - title: Data Cleanup with Open Refine (half day) <a href="https://www.eventbrite.com.au/e/resbaz-openrefine-workshop-tickets-31243862233">Book</a>
    - title: Advanced R (full day) <a href="https://www.eventbrite.com.au/e/resbaz-advanced-r-tickets-31244782987">Book</a>
    - title: Web scraping workshop <a href="https://www.eventbrite.com.au/e/resbaz-web-scraping-workshop-tickets-31243786005">Book</a>
    - title: THATCamp (half day) <a href="https://www.eventbrite.com.au/e/resbaz-thatcamp-workshop-tickets-31243904359">Book</a>
speakers:
 - name: Adrian White
   img: img/placehold.jpg
   blurb: Adrian is from Amazon Web Services.
 - name: Jenny Ostini
   img: img/JennyOl.png
   blurb: Jenny is a social scientist and researcher, with interests in digital literacies, well-being, communication, social change, ideas big and small. <a href="https://twitter.com/follysantidote">Twitter</a>
 - name: Caleb Hattingh
   img: img/calebl.png
   blurb: Caleb is passionate about coding. He been programming for over 15 years, specialising in Python. He holds a Masters degree in Chemical Engineering  and has written a great deal of scientific software. He is also an O'Reilly author
 - name: Mike Imelfort
   img: img/mikeI.png
   blurb: Mike, a key organiser for the very successful 2016 HealthHack, will talk about leaving academia for industry. Mike formerly worked at UQ.
sponsors:
 - name: 'PLATINUM SPONSOR: <br \>Amazon Web Services'
   img: aws1.png
 - name: 'SILVER SPONSOR: <br \>Griffith University'
   img: griffith-logo.png
 - name: 'SILVER SPONSOR: <br \>RDS | ANDS | Nectar'
   img: rds-ands-nec.png
 - name: 'SILVER SPONSOR: <br \>QUT Library'
   img: qut.png
 - name: 'SILVER SPONSOR: <br \>The University of Queensland Library'
   img: UQL.png
 - name: 'BRONZE SPONSOR: <br \>UQ Research Computing Centre'
   img: RCC_logo_web.png
 - name: 'PRIZE SPONSOR: <br \>Queensland Cyber Infrastructure Foundation'
   img: qcif.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2017.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz2017/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#aboutSection">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <p></br></br></p>
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                    <p></br></br></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About -->
<section id='aboutSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1>About</h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.about}}</p>
            </div>
        </div>
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</br></br></p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                        {% for session in d.sessions %}                  
                                <a class='list-group-item'>{{ session.title }}</a>
                        {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz2017/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p><a href="https://docs.google.com/forms/d/e/1FAIpQLSeCBI_PuCfQeBsCzLRerXiM2XPTMJKdWrBmltkgrbN_Fmor1Q/viewform">Register here</a></p>
                <p>Use this link to register NOW for the Festival Day.</p> 
                 <p>Use it also to express interest in our workshops. Registration for workshops will be opening soon.</p>
         </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to our sponsors for helping to bring the Research Bazaar to {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section>


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
