---
layout: site
permalink: hobart

location: Hobart

dates: 31 January - 2 February, 2017

splashImage: img/hobart_cropped.png

map: sites/hobart.geojson

schedule: Your schedule description.
days:
 - day: Tuesday, 31 January
   sessions:
    - title: session 1
    - title: session 2
    - title: session 3
    - title: evening
 - day: Wednesday, 1 February
   sessions:
    - title: session 1
    - title: session 2
    - title: session 3
    - title: evening
 - day: Thursday, 2 February
   sessions:
    - title: session 1
    - title: session 2
    - title: session 3
    - title: evening
speakers:
 - name:
   img: img/placehold.jpg
   blurb:
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - watch this space!
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - watch this space!
sponsors:
 - name: 'Sponsor Number One'
   img: fake-sponsor.png
 - name: 'Sponsor Number Two'
   img: fake-sponsor.png
 - name: 'Sponsor Number Three'
   img: fake-sponsor.png
classes:
 - class: groupone
   descriptions:
    - name: Installing and navigating the scientific Python stack
      id: scipy
      blurb: This session will give an overview of the major Python libraries used for data science. Participants will learn how to manage and install these libraries using the conda package manager.
    - name: How to write a reproducible paper
      id: reprod
      blurb: Modern research relies heavily on software and code. These aspects of the research methodology are rarely (if ever) documented in modern research papers, which has led to a reproducibility crisis in published computational research. This talk will outline the practical steps you can take to ensure that your papers are reproducible.
    - name: Introduction to the NeCTAR Cloud
      id: nectar
      blurb: TBA
    - name: Managing marine and Antarctic data at UTAS
      id: utasdata
      blurb: TBA
    - name: Introducing the Australian National Data Service
      id: ands
      blurb: TBA
    - name: Installing and navigating the scientific R stack
      id: scir
      blurb: This session will give an overview of the major R libraries used for data science. Participants will learn how to manage and install these libraries.
 - class: grouptwo
   descriptions:
    - name: Data science consultations
      id: consults
      blurb: Come along and listen to our experienced Software Carpentry instructors interview willing researchers about their personal data science workflows. If you're feeling brave you can put your hand up to be an interviewee, otherwise sit back and join in the audience discussion.
    - name: Accessing and processing data from IMOS
      id: imos
      blurb: TBA
    - name: Getting started with netCDF
      id: netcdf
      blurb: This session will give an overview of the basic concepts you need to understand when dealing with data stored in netCDF format (e.g. common metadata conventions). A demonstration of how to interact with netCDF files using Python and R will be given, followed a discussion of tools that can be used when netCDF files get really large.
    - name: Introduction to Effective Formal Presentations
      id: speech
      blurb: A critical skill for any scientist is the ability to effectively communicate your ideas. This course is a very short introduction to effective public speaking, and introduces some basic concepts such as how to prepare and structure your speech, the use of visual aids and speaking with confidence. Each participant will be asked to deliver a 2 minute speech and will be given a critical evaluation.
    - name: How to write an executable paper
      id: exec
      blurb: TBA
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2017.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz2017/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#aboutSection">About</a>
                </li>
                <!-- li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li -->
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#contactSection">Contact</a>
                </li -->
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <p></br></br></p>
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                    <p></br></br></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About -->
<section id='aboutSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1>About</h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>The Research Bazaar is a worldwide festival promoting the digital literacy emerging at the center of modern research.
              During the first week of February 2017, events will be held at a number of university campuses around the globe.</p>
              <p><a href="http://datasciencehobart.github.io/">Data Science Hobart</a> is proud to be hosting the inaugrual ResBaz event in Tasmaina.
              The aim of the event is to equip researchers from all career stages with the digital skills and tools required to do their research better, faster and smarter.</p>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
           <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Day 1 & 2: Software Carpentry</h3>
                    <p>Over the first two days of the workshop, two Software Carpentry workshops will run simultaneously.
                    These hands-on workshops will cover basic computer programming concepts and tools for researchers,
                    including program design, version control, data management, and task automation.
                    Participants can elect to participate in either the 
                    <a href="https://datasciencehobart.github.io/2017-01-31-resbaztas-python/" target="_blank">Python stream</a>
                    or <a href="https://datasciencehobart.github.io/2017-01-31-resbaztas-python/" target="_blank">R stream</a>. 
                    Click the links for more details.</p>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Day 3: Community Day</h3>
                    <p>On the final day of the event, data service providers and individual researchers from the local
                    community will deliver a wide variety of talks and workshops. Below is a list of confirmed classes
                    (click the titles for a short description). If you'd be interested in presenting at Community Day, please <a href="#contact">get in touch</a>. 
                    We will progressively update the class list (and provide a more detailed timetable) as more volunteer presenters come forward.</p>
                </div>
            {% for d in page.classes %}
                <div class = "col-md-6 text-center">
                    <div class = 'list-group'>
                        {% for description in d.descriptions %}
                        <div class = 'list-group-item text-center'>
                            <a class='menuItem' id = {{ description.id }} >{{ description.name }}</a><br>
                            <p class = 'small hidden' id = {{ description.id}}Blurb > {{ description.blurb }} </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section -->

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Registrations go live at midday on Friday 2 December. Places are strictly limited, so get in early!</p>
                <p><a href="https://www.eventbrite.com.au/e/the-research-bazaar-tickets-29662163329" target="_blank" class="btn btn-lg btn-outline light-bkg">
                <i class="fa fa-users"></i> Register Here</a>
                </p>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>


<!-- Contact Section -->
<section id="contactSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Got questions?</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center contact-buttons">

                <a href="mailto:datasciencehobart@gmail.com" class="btn btn-lg btn-outline light-bkg">
                    <i class="fa fa-envelope"></i> Email
                </a>
                <a href="https://twitter.com/datasciencehbt" class="btn btn-lg btn-outline light-bkg">
                    <i class="fa fa-twitter"></i> Twitter
                </a>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz2017/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<!-- section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr -->

<!-- Sponsors -->
<!-- section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to our sponsors for helping to bring the Research Bazaar to {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section -->

<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('scheduleSection')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }
</script>

