---
layout: site
permalink: perth

location: Perth

dates: 30 January - 1 February, 2017

splashImage: img/perth.jpg

map: sites/perth.geojson

schedule:
days:
  - day: Monday, 30 January
    sessions:
      - title: 08:00 | Registration open
      - title: 08:30 | Opening and Welcome to Country
      - title: 09:00 | Stream class 1
      - title: 10:30 | Coffee at the bazaar
      - title: 11:30 | Stream class 2
      - title: 13:00 | Lunch
      - title: 14:00 | Elective classes
      - title: 17:00 | Key story (Prof Phil Bland - Fireballs in the sky)
      - title: Poster showcasing + Drinks & nibbles 
  - day: Tuesday, 31 January
    sessions:
      - title: 08:30 | Warm up meditation
      - title: 09:00 | Stream class 3
      - title: 10:30 | Coffee at the bazaar
      - title: 11:30 | Stream class 4
      - title: 13:00 | Lunch
      - title: 14:00 | Stream class 5 & 6
      - title: 17:00 | Key story (TBC)
      - title: 17:30 | PhD Movie 2 screening
      - title: Drinks & nibbles 
  - day: Wednesday, 1 February
    sessions:
      - title: 08:30 | Warm up meditation
      - title: 09:00 | Stream class 7
      - title: 10:30 | Coffee at the bazaar
      - title: 11:30 | Stream class 8
      - title: 13:00 | Lunch
      - title: 14:00 | Elective classes
      - title: 16:00 | Key story (Michelle Sandford - TechOutsider & Microsoftie)
      - title: 16:30 | Closing Round Table 
      - title: Drinks & nibbles 
speakers:
 - name: Phil Bland
   img: img/placehold.jpg
   blurb: 
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - watch this space!
 - name: TBC
   img: img/speakerTBC.jpg
   blurb: Our KeyStory speakers are still to be confirmed - watch this space!
sponsors:
  - name: 'Curtin University'
    img: perth/curtin.png
  - name: The University of Western Australia
    img: perth/uwa.jpg
  - name: Murdoch University
    img: perth/murdoch.jpg
  - name: Edith Cowan University
    img: perth/ecu.jpg
  - name: The University of Notre Dame
    img: perth/notredame.jpg
supporters:
  - name: KZN Group
    img: perth/kzn.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2017.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz2017/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#aboutSection">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <!-- li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li -->
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <p></br></br></p>
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                    <p></br></br></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About -->
<section id='aboutSection'>
    <div class='container' id = 'tool-list'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>About</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
            <p align="justify">
                 	Are you struggling with manual data entry? Don’t know how to process 
                 	all your data in a fast and reproducible manner? Had enough of propriety
                 	 software? Need to know how to typeset you thesis asap? 
                 	 </br>
                 	 Then come along to the 2017 Research Bazaar!
                 	 </p>
                <p align="justify">
                </br> 
                    We are pleased to announce that the second Perth Research Bazaar will 
                    be hosted at Curtin University in the last week of January.
                </p>
                <p align="justify">
                </br>
                 	The Perth Research Bazaar (or ResBaz for short) will bring together 
                 	researchers (at any stage) from all 5 WA universities giving them the 
                 	opportunity to build skills and engage in community building.
                 	We have a full program planned with key stories, programming training,
                 	including many exciting electives and networking events at our 
                 	Knowledge Bazaar.

			</p>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1>Come along</h1>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <p>
        We currently have a wait list while successful applicants have been given the 
        opportunity to register for ResBaz. However, we asked them to register by 
        Friday 21 January 2017 and we will start to offer any remaining places to 
        applicants on our wait list thereafter. So please do still put in your application 
        so we know that you are interested in coming along! This will also ensure you are
        on our mailing list and get information on future events.
		</p>
		</br>
        <p>
          Places are limited, demand is high and we want to make
          sure everybody has a fair chance of participating in this
          unique event. 
        </p>
        <p>
          For this reason we ask you to fill in an
          <a href="https://goo.gl/forms/CNMdT1ZGWg5MEhkr1">application</a>
          and tell us a little more about yourself and what you’d like
          to get out of the event. This is your chance to influence the program
          by telling us what you want to learn about!
          We’re also asking every applicant to design a
          <a href="https://docs.google.com/presentation/d/1wLtUDovYs8RZY5JXbR1N8c_KsQ6nf6L54sWzn1c9wBQ/edit?usp=sharing">
            poster</a> telling us a little about yourself and the tools you use
          for your research. The posters will be shown during the event and you might be
          surprised by the various disciplines that use the same tools as you.
        </p>
        <p>
          The registration will be $50 and cover all the classes, refreshments and lunch.
        </p>
        <p class="text-center">
          <br/>
          <a href="https://goo.gl/forms/CNMdT1ZGWg5MEhkr1" class="btn btn-lg btn-success">Fill in the application form!</a>
        </p>
      </div>
    </div>
  </div>
</section>

<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        The event runs around the Knowledge Bazaar, in the
                        form of a tent on Lower Henderson Court lawn. 
                        </br>
                        Workshops that will require working on laptops will be held in
                        the nearby building 300. </br>
                        The opening and all morning activities, coffee breaks and evening 
                        sundowners will be at the tent.
                    </p>
                </div>
            </div>
            {% for d in page.days %}
            <div class="col-md-4">
              <h4>{{ d.day }}</h4>
              <div class='list-group'>
                {% for session in d.sessions %}
                <a class='list-group-item'>{{ session.title }}</a>
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </div>
          <div class="row">
            <div class="col-lg-12">
              <dl>
 <dt>Stream workshops</dt><dd>These are run in parallel and are comprised of multiple classes.
                  You will be able to choose your stream upon
                  registration. The streams are:
		      <ul>
			      <li>Software Carpentry (Python)</li>
			      <li>Software Carpentry (R)</li>
			      <li>Data Carpentry</li>
		      </ul>
		      Software Carpentry teaches introductory research computing skills, including 
		      programming in either Python or R, how to use the command line and version control 
		      using git and github.
		      </br>
		      Data Carpentry teaches specific tools to work with data such as SQL and
		      Data Analysis and Visualization in Python using pandas. 
		      If you're not sure what to choose, we recommend one of
		      the Software Carpentry streams.</dd> 
		      </br>
              <dt>Elective classes</dt><dd>These are independent classes (workshops, demos or group discussions).
                  You will decide on the day what elective classes to
                  attend, look out for what's on offers on the board in
                  the morning. Confirmed electives include:
                  <ul>
			      <li>Making a career leap</li>
			      <li>Your thesis in 3 minutes</li>
			      <li>Machine learning: from Zero to Hero</li>
			      <li>Interactive web apps with R Shiny</li>
			      <li>NVivo (for windows)</li>
			      <li>Writing a reproducible paper</li>
			      <li>Data Science at the command line</li>
			      <li>An intro to design thinking (Curtin Makers)</li>
		      </ul>
            </dd> </br>
                <dt>Social activities and networking events</dt><dd>Community engagement 
                is at the core of Research Bazaar!
                  Make sure you come along to as many as possible to build a continuing 
                  support network for life after ResBaz.  
                  You can look forward to:
                   <ul>
			      <li>Morning warm ups (meditation sessions confirmed)</li>
			      <li>Coffee at the bazaar, including talks and demos and your chance to be 
			      part of a podcast</li>
			      <li>Outdoor games, e.g., Giant Jenga and Connect 4</li>
			      <li>Key stories</li>
			      <li>Movie night - we'll be screening the PhD movie 2</li>
			      <li>Your posters displayed</li>
			      <li>A choice of food trucks for lunch</li>
		      </ul>
                </dd>
              </dl>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <script src="https://embed.github.com/view/geojson/resbaz/resbaz2017/gh-pages/{{page.map}}"></script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<!-- section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                {% for speaker in page.speakers %}
                    <div class='col-md-3 speaker-tile'>
                        <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                        <h4>{{ speaker.name }}</h4>
                        <p>{{ speaker.blurb }}</p>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
</section>

<hr class='divider'></hr -->

<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Many thanks to our sponsors for helping to bring the Research Bazaar to {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
      </div>
  </div>
</section>

<hr class='divider'></hr -->

<section id="sponsors"
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Supporters</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>Our supporters are contributing valuable human
                  resources to the organisation of the event. Many thanks to them too.</p>
              {% for supporter in page.supporters %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ supporter.img }}></img>
                      <h4>{{ supporter.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
    </div>
</section>

<!-- TEST SCRIPT -->
<script>
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    var toolList = document.getElementById('tool-list')
    var listElements = toolList.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }
</script>
