---
layout: site
permalink: sydney

location: Sydney

dates: 3rd - 5th July, 2017

splashImage: /img/sydney.jpg

map: sites/sydney.geojson

about: The Research Bazaar is an event promoting the digital literacy emerging at the center of modern research. ResBaz Sydney this year will be held at the University of Technology Sydney in July.</br></br>At ResBaz researchers come together to up-skill in next generation digital research tools and scholarship. In the spirit of a marketplace or bazaar, ResBaz is a highly participatory event where researchers from many different disciplines can learn, share knowledge and skills, and have fun!</br></br>Who should attend? Researchers at ALL levels from ALL disciplines. PhD and research Masters students and early career researchers are especially encouraged to apply. Research technologists who support researchers to do their job should also come along!</br></br>You don't have to be a student or staff member at UTS, ResBaz is open to anyone involved in research who wants to learn new skills and make new connections!

schedule: The Research Bazaar will start with two days of workshops on July 3rd and 4th. You can choose to sign-up for a 2-day workshop to learn R or Python, or you can mix and match shorter workshops over the two days.</br></br>The third day is the ResBaz Festival Day, which will include lightning talks and researcher led workshops as well as lots of opportunities to network and learn more about your fellow researchers.</br></br>All three days will be full of social events and networking opportunities, so get ready to broaden your horizons and extend your personal research community!
days:
 - day: Day 1 (July 3)
   sessions:
    - title: Programming with Python (2 days)
      id: scpy1
      blurb: Day one of a two day workshop introducing you to the programming language Python with lots of hands-on exercises. Python is great for wrangling and analysing data of all kinds, including textual data, and is widely used in the humanities as well as in engineering and science.
    - title: Programming with R (2 days)
      id: scrbeg1
      blurb: Day one of a two day workshop introducing you to the programming language R with lots of hands-on exercises. R enables a wide range of statistical analyses and data visualisations, including text and data mining, and is used by researchers in all disciplines, from science and maths to social science and humanities.
    - title: Cleaning and Exploring your Data with Open Refine (half day - morning)
      id: openrefine
      blurb: Open Refine is a powerful, free tool for exploring, normalising and cleaning datasets, and extending data by accessing the internet through APIs. In this half-day course we'll work through the various features of Refine, including importing data, faceting, clustering, and calling remote APIs, by working on a fictional but plausible humanities research project.
    - title: Data Management and Data Publishing (half day - morning)
      id: datmanpub
      blurb: This half-day workshop will provide you with all the info you need to know to get a start on managing and publishing your research data. Come along to learn the basics of research data management and get some hands on experience using the resources you need to find and publish research data.
    - title: Collaborative Documents with Overleaf (half day - afternoon)
      id: overleaf
      blurb: A half-day workshop that introduces LaTeX, a mark-up language used to create and elegantly format documents, and Overleaf, an online collaborative editor that uses LaTex. This workshop is for anyone who wants to take control of their formatting and authorship collaboration to create beautiful documents, from journal articles to monographs.
    - title: Web Scraping Workshop (half day - afternoon)
      id: webscrape
      blurb: Web scraping involves converting non-tabular or poorly structured data into a usable, structured format, usually a spreadsheet. Humans are very bad at repetitive work. We’re prone to errors and to getting bored, so let’s make a computer do the work whenever we can. Scraping is an incredibly useful for acquiring data where it has been made inaccessible by the way it’s presented online. But as well as acquiring data, scraping can be really useful for other things like tracking changes and archiving. In short, it’s a skill worth learning.
 - day: Day 2 (July 4)
   sessions:
    - title: Programming with Python (2 days)
      id: scpy2
      blurb: Day two of a two day workshop introducing you to the programming language Python with lots of hands-on exercises. Python is great for wrangling and analysing data of all kinds, including textual data, and is widely used in the humanities as well as in engineering and science.
    - title: Programming with R (2 days)
      id: scrbeg2
      blurb: Day two of a two day workshop introducing you to the programming language R with lots of hands-on exercises. R enables a wide range of statistical analyses and data visualisations, including text and data mining, and is used by researchers in all disciplines, from science and maths to social science and humanities.
    - title: Excel Fu (1 day)
      id: excel
      blurb: Data rarely comes in the form you require. Often it is messy. Sometimes it is incomplete. And sometimes there's too much of it. Frequently, it has errors. We'll use one of the most widespread data wrangling tools, Microsoft Excel, to import, sort, filter, copy, protect, transform, summarise, merge, and visualise research data. While aimed at novice Excel users, most attendees of this full-day workshop will walk away with new tricks to work more efficiently with their research data.
    - title: Data Viz with D3.js (half day - morning)
      id: d3
      blurb: D3.js is a JavaScript library that allows you to create amazing web-based interactive data visualisations. Join us for this half-day workshop to get started in creating your own data masterpieces.
    - title: Data Arena Virtual Machine (1 hour - early afternoon)
      id: datarenaVM
      blurb: Learn about new developments at the UTS Data Arena in this one-hour session. The Data Arena Virtual Machine will allow researchers to run an emulation of the Data Arena with their own data to test out their visualisation ideas in advance, allowing them to make the most of their time in the Data Arena.
    - title: Getting Started with Data Visualisation (1 hour - late afternoon)
      id: gswdv
      blurb: This one-hour session on data visualisation will get back to basics and give you some best practice advice so that you can create visualisations with your research data that communicate your point and are easily understood by everyone.
 - day: Day 3 (July 5)
   sessions:
    - title: Festival Day!
      id: festival
      blurb: A day of many events with lots of opportunities for mingling with researchers from every discipline - humanities, social sciences, engineering, sciences - you name it, they'll be there! Lightning talks, inspiring stories, networking, tech and research tool showcases, workshops, and social events will all be on offer.
speakers:
 - name:
   img: img/placehold.jpg
   blurb:
sponsors:
 - name: 'PLATINUM SPONSOR: <br \>Amazon Web Services'
   img: AWS_Logo_C_150.png
 - name: 'PLATINUM SPONSOR: <br \>Macquarie University'
   img: MQ_INT_HOR_RGB_POS_150.png
 - name: 'PLATINUM SPONSOR: <br \>University of New South Wales'
   img: UNSW_LandscapeColourPos.png
 - name: 'GOLD SPONSOR: <br \>Intersect'
   img: 150_intersect_logo.png
---

<!-- Navigation -->
<nav>
    <div class="container">

        <div class='col-md-8'>
            <a href="https://2017.resbaz.com/">
                <img class='nav-logo' src='https://raw.githubusercontent.com/resbaz/resbaz2017/gh-pages/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-md-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#aboutSection">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#scheduleSection">Schedule</a>
                </li>
                <li class="page-scroll">
                    <a href="#registerSection">Register</a>
                </li>
                <li class="page-scroll">
                    <a href="#speakerSection">Speakers</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url({{page.splashImage}}); background-repeat: no-repeat; background-size: cover; ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <p></br></br></p>
                    <span class="name">{{page.location}}</span>
                    <hr class="star-light"></hr>
                    <span class="skills">{{page.dates}}</span>
                    <p></br></br></p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- About -->
<section id='aboutSection'>
    <div class = 'container' id = 'tool-list'>
        <div class = "row">
            <div class = "col-lg-12 text-center">
                <h1>About</h1>
                <hr class = "star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.about}}</p>
            </div>
        </div>
    </div>
</section>


<hr class='divider'></hr>

<!-- Schedule -->
<section id='scheduleSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Schedule</h1>
                <hr class="star-primary">
            </div>
        <div class="row">
            <div class="col-lg-12 text-center">
              <p>{{page.schedule}}</br></br></p>
            </div>
        </div>
            {% for d in page.days %}
                <div class="col-md-4">
                        <h4>{{ d.day }}</h4>                        
                        <div class='list-group'>
                            {% for session in d.sessions %}
                            <div class='list-group-item text-center'>
                                <a class='menuItem' id={{ session.id }}>{{ session.title }}</a><br>
                                <p class='small hidden' id={{ session.id }}Blurb >{{ session.blurb }}</p>
                            </div>
                            {% endfor %}
                        </div>                        
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Map -->
<section id="mapSection">
    <div class='container'>
        <div class="row">
                <div class="col-lg-12 text-center">
                    <h1>Venue</h1>
                    <hr class="star-primary">
                      <p>ResBaz Sydney will be held at the UTS Business School Building (Building 8). It's very distinctive - it looks a bit like a squashed paper bag!<br><br>Address: 14-28 Ultimo Rd, Ultimo NSW 2007.</br></br></p>
                </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <div id="venue-map" style="height: 420px; width: 620px; margin-left: auto; margin-right: auto; z-index: -1;"></div>
                <script>
                var map = L.map('venue-map');
                (function() {
                  var request = new XMLHttpRequest();
                  request.open('GET', '{{page.map}}', true);
                  request.onload = function() {
                    var data = JSON.parse(request.responseText);
                  	var p = data.features[0].geometry.coordinates.slice(0).reverse();
                    map.setView(p, 16);
                    L.tileLayer('https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png').addTo(map);
                  	L.geoJSON(data)
                      .bindPopup(function (layer) {
                        return layer.feature.properties.details;
                    	})
                      .addTo(map);
                  };
                  request.send();
                }());
                </script>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Registration -->
<section id="registerSection">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Come along</h1>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Registration is not open yet, but watch this space if you are interested in coming along!</p>
            </div>
        </div>
    </div>
</section>

<hr class='divider'></hr>

<!-- Speakers -->
<!--
<section id='speakerSection'>
    <div class='container'>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Meet Our Speakers</h1>
                <hr class="star-primary">
                <p>Check back here to find out who will be speaking at ResBaz Sydney.</p>
                   {% for speaker in page.speakers %}
                       <div class='col-md-3 speaker-tile'>
                           <img class='img-circle' src={{site.baseurl}}/{{ speaker.img }}></img>
                           <h4>{{ speaker.name }}</h4>
                           <p>{{ speaker.blurb }}</p>
                       </div>
                   {% endfor %}
            </div>

        </div>
    </div>
</section>
//-->

<hr class='divider'></hr>

<!-- Sponsors -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Our Sponsors and Supporters</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
             <p>Many thanks to our sponsors and supporters who have helped bring the Research Bazaar to {{page.location}}.</p>
              {% for sponsor in page.sponsors %}
                  <div class='sponsor-tile'>
                      <img src={{site.baseurl}}/img/sponsors/{{ sponsor.img }}></img>
                      <h4>{{ sponsor.name }}</h4>
                  </div>
              {% endfor %}
          </div>
        </div>
        <hr class="star-primary">
        <p style="margin: auto; text-align: center;"><a href="mailto:kayla.maloney@sydney.edu.au">Contact Us!</a></p>
        <p style="margin: auto; text-align: center;"><a href="https://www.flickr.com/photos/extramaster/16405948251/in/photolist-qZJLQK-8SDVkG-28Wkxn-dYffo2-p9jrzT-9NEtYQ-fDW28n-eYuALz-otgexF-6ocQwE-7HnnrW-o7QaZr-enrDq-c8a4ZE-7HnmL1-o7wXTT-nPJBpk-c8adrW-fDVZ3Z-7HntqG-c8acmA-7Hiqmr-7HiBvn-c8a6s3-pz8Lhx-7HniUQ-7Hnq8Q-c8aarG-efJYww-atpHUq-qo4ZGw-c8a7V7-7Hnqso-7Hipzt-fpeWtJ-7HnjkU-c89XT5-c8a8Ho-HntQv3-aK2goB-efDcXi-7HivNn-c8a1eu-9Ddq1D-HGj6iw-crJbFQ-7Hnu1J-5EbUg4-kFmrqh-o767TG">UTS Building</a> title image <a href="https://creativecommons.org/licenses/by/2.0/">CC-BY</a> from <a href="https://www.flickr.com/people/extramaster/?rb=1">extramaster</a></p>
    </div>
</section>


<!-- TEST SCRIPT -->
<script> 
    // var listElements1 = document.getElementsByClassName('list-group-item')
    // console.log(listElements1)
    // This script is used to hide and display session blurbs in the Schedule when the session is clicked on by the user
    var selectedSection = document.getElementById('scheduleSection')
    var listElements = selectedSection.getElementsByClassName('list-group-item')
    for(var i=0; i<listElements.length; i++){
            listElements[i].children[0].onclick = function(){
                 // toolList.getElementsByClassName('hidden').hide();
                 var idOfBlurb = this.id + 'Blurb';
                 document.getElementById(idOfBlurb).classList.toggle('hidden');
            }
        }

</script>
