<!-- Navigation -->
<nav>
    <div class="container">
      <div class="row">
        <div class='col-xs-5 col-sm-6 col-lg-8'>
            <a href="#page-top">
                <img class='nav-logo' src='{{site.baseurl}}/img/resbaz_logos/ResBaz_transparent_cropped.png'></img>
            </a>
        </div>
        <div class='col-xs-7 col-sm-6 col-lg-4'>
            <ul class="nav navbar-nav navbar-right nav-list">
                <li class="hidden pull-left">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#locations">Locations</a>
                </li>
                <li class="page-scroll pull-left">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
      </div>
    </div>
</nav>
